.drink {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    max-width: 200px;
    width: 100%;
    border: .5px solid orangered;
    background-color: #ffffffbd;
    border-radius: 12px;
    box-shadow: none;
    overflow: hidden;
    box-shadow: 8px 5px 9px orange;
}

.drink__image {
    width: 100%;
    height: 18.5vh;
}

.drink__title {
    font-size: 15px;
    max-width: 150px;
    text-wrap: wrap;
    display: block;
    margin: 2px auto;
    text-align: center;
    color: #000;
    font-weight: 700;
}