.header {
  background-color: #000;
  background-image: url('../assets/FALLMOVIE\ NIGHT.svg');
  color: white;
  margin-bottom: auto;
  max-width: 100%;
  width: 100%;
}

.header__section {
  display: flex;
  justify-content: space-between;
}

.header__title_wrap {
  display: flex;
  justify-content: center;
}

.header__title {
  margin: 0;
  font-size: 100px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  padding: 20px;
}
.header__img {
  position: relative;
  width: 200px;
}

@media screen and (max-width: 1150px) {
  .header__title {
    font-size: 20px;
    padding: 0;
    align-self: center;
  }
  .header__img {
    width: 75px;
    height: 50px;
  }
}

