.movie {
  max-height: 320px;
  max-width: 200px;
  width: 100%;
  border: 1px solid orangered
}

.movie__choice {
    /*   display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-gap: 20px;  */
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
      font-size: 22px;
      width: 100%;
  }

  .movie__cell {
    max-width: 298px;
    width: 100%;
  }
  
  .movie__title {
    font-size: 16px;
    max-width: 150px;
    white-space: nowrap;
    display: block;
    margin: 10px 0;
    color: #fff; 
  }
  
  .movie__img {
      width: 100%;
      height: auto;
  }
  