.page__content {
    height: 100%;
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
    justify-content: center;
    align-items: center;
  }

  page-section {
    display: flex;
    flex-direction: column;
  }
  
  .movie__choice {
  /*   display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;  */
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    font-size: 22px;
}

.movie-item {
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
}

.movie__title {
    color: white;
  font-size: 18px;
  white-space: nowrap;
}

.movie__poster {
    width: 150px;
    border-radius: 8px;
}

.movie__poster-placeholder {
    font-style: italic;
    color: #999;
}

.small-font {
    font-size: 12px;
}

.movie__img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

#randomize-button {
  text-align: center;
  margin-top:5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f39c12;
  border: none;
  cursor: pointer;
}
