@keyframes scroll {
    to{
      transform: translateY(calc(-900%));
    }
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.slots {
    margin-top: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
    gap: 10px;
}

.slots__first {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  width: 175px;
  background-color: #000;
  font-size: 90px;
  color: rgb(250, 179, 1);
  text-align: center;
  border: 0.1px solid rgb(250, 179, 1);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px white;
}

.slots__second {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  width: 175px;
  background-color: #000;
  font-size: 90px;
  color: rgb(250, 179, 1);
  text-align: center;
  border: 0.1px solid rgb(250, 179, 1);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px white;
}

.slots__third {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    width: 175px;
    background-color: #000;
    font-size: 90px;
    color: rgb(250, 179, 1);
    text-align: center;
    border: 0.1px solid rgb(250, 179, 1);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px white;
}

.slot__first_type_styles {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.slot__second_type_styles {
  visibility: visible;
  transition: visibilty .5s ease-in;
}

.slot__third_type_styles {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.slots__button_animation {
  background: url('../images/jack-1.png') center no-repeat;
  background-size: contain;
  position: absolute;
  top: -160px;
  min-height: 200px;
  max-width: 200px;
  width: 100%;
  color: #fff;
  border: none;
  animation: pulsate 1.3s ease-in-out infinite;
}

.slots__button {
  background: url('../assets/PUMPKIN_BUTTON4x.png') center no-repeat;
  background-size: contain;
  position: absolute;
  top: -385px;
  min-height: 300px;
  max-width: 300px;
  width: 100%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.slots__button_popup_animation {
  animation: pulsate 1.3s ease-in-out infinite;
  background-color: white;
  color:  rgb(92, 64, 51);
  position: absolute;
  visibility: hidden;
  transition: visibility 1s linear;
  bottom: -106px;
  /* border: 1px solid rgba(0, 0, 0, .75); */
  min-height: 70px;
  max-width: 250px;
  width: 100%;
  z-index: -1;
  border-radius: 2%;
}

.slots__button_popup {
  background-color: black;
  color: rgb(235, 191, 171);
  padding: 10px 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 1s linear;
  bottom: -100px;
  border: 1px solid rgba(0, 0, 0, .75);
  border-radius: 5%;
  min-height: 60px;
  max-width: 30%;
  font-size: large;
  font-weight: 900;
  text-wrap: nowrap;
  box-shadow: 3px 3px 20px white;
}

.slots__button_popup-visible {
  opacity: 1;
  visibility: visible;
}

.slots__first_animation span{
  animation: scroll 1.5s linear infinite;
}

.slots__second_animation span{
    animation: scroll 1.7s linear infinite;
  }

  .slots__third_animation span{
    animation: scroll 1.4s linear infinite;
  }

  .slots__paused >* {
        -webkit-animation-play-state: paused !important;
        -moz-animation-play-state: paused !important;
        -o-animation-play-state: paused !important;
         animation-play-state: paused !important;
  }

  .slots__finished {
    background: url('../assets/coin.gif') center no-repeat;
    min-height: 100%;
  }

  .slots__hidden_numbers {
    opacity: 0;
  }

  @media screen and (max-width: 1150px) {
    .slots__button_popup {
      bottom: -105px;
      min-height: 70px;
      max-width: 250px;
    }
  }

